[Unit]
Description=faststore service
After=network.target

[Service]
Type=forking
Environment=CONF=/etc/fastcfs/fstore/server.conf
ExecStart=/usr/bin/fs_serverd ${CONF} start
ExecStop=/usr/bin/fs_serverd ${CONF} stop
ExecReload=/usr/bin/fs_serverd ${CONF} restart
ExecRestart=/usr/bin/fs_serverd ${CONF} restart

# Disable OOM kill on the postmaster
OOMScoreAdjust=-1000

[Install]
WantedBy=multi-user.target
