Source: faststore
Section: libs
Priority: optional
Maintainer: YuQing <384681@qq.com>
Build-Depends: debhelper (>=11~),
               libaio-dev,
               libfastcommon-dev (>= 1.0.55),
               libserverframe-dev (>= 1.1.12),
               fastcfs-auth-dev (>= 3.0.0)
Standards-Version: 4.1.4
Homepage: http://github.com/happyfish100/faststore

Package: faststore
Architecture: any
Multi-Arch: foreign
Depends: libfastcommon (>= 1.0.55),
         libserverframe (>= 1.1.12),
         fastcfs-auth-client (>= 3.0.0),
         fastcfs-auth-config (>= 2.0.0),
         faststore-server (= ${binary:Version}),
         faststore-client (= ${binary:Version}),
         ${misc:Depends}, ${shlibs:Depends}
Description: a high performance distributed file storage service
 a high performance distributed file storage service.

Package: faststore-server
Architecture: any
Multi-Arch: foreign
Depends: libfastcommon (>= 1.0.55),
         libserverframe (>= 1.1.12),
         fastcfs-auth-client (>= 3.0.0),
         fastcfs-auth-config (>= 2.0.0),
         faststore-config (>= 1.0.0),
         ${misc:Depends}, ${shlibs:Depends}
Description: FastStore server
 FastStore server

Package: faststore-client
Architecture: any
Multi-Arch: foreign
Depends: libfastcommon (>= 1.0.55),
         libserverframe (>= 1.1.12),
         fastcfs-auth-client (>= 3.0.0),
         fastcfs-auth-config (>= 2.0.0),
         faststore-config (>= 1.0.0),
         ${misc:Depends}, ${shlibs:Depends}
Description: FastStore client library and tools
 FastStore client library and tools

Package: faststore-dev
Architecture: any
Multi-Arch: foreign
Depends: faststore-client (= ${binary:Version}),
         ${misc:Depends}, ${shlibs:Depends}
Description: header files of FastStore client library
 This package provides the header files of libfsclient and libfsapi

Package: faststore-config
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: faststore config files for sample
 faststore config files for sample including server and client
