#!/usr/bin/make -f

export DESTDIR = ../debian/tmp

%:
	dh $@

override_dh_auto_build:
	./make.sh clean && ./make.sh

override_dh_auto_install:
	./make.sh install
	CONFDIR=$DESTDIR/etc/fastcfs/fstore/
	SYSTEMDIR=$DESTDIR/usr/lib/systemd/system/
	mkdir -p $CONFDIR
	mkdir -p $SYSTEMDIR
	cp conf/*.conf $CONFDIR
	cp systemd/faststore.service $SYSTEMDIR
	dh_auto_install
